:root{
    --color-primario-dark :#091E3F;
    --color-primario-light :#6AC6DE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}
body{
  font-family: "Open Sans", sans-serif;
  background-color: #FBFBFB;
  color: #0f0f0f;
  
}
.header{
  background-color: var(--color-primario-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 1rem;
}
.header__logo{
  width: 30%;
}
.header__nav{
  display: flex;
}
.header__nav--container{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-right: 2px solid #FBFBFB;
}
.header__nav a::after{
  content: '';
  position: absolute;
  background: #FBFBFB;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;
  align-items: center;
}
.header__nav a:hover::after{
  transform: scaleX(1);
}
.header__nav a{
  color: #FBFBFB;
  padding: 0.5rem 0;
  transition: 300ms;
  position: relative;
}
.header__nav a:hover{
  color: var(--color-primario-light);
}

img{
  width: 100%;
}
/* Ejemplo de circulo */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white; /* Fondo blanco para el círculo */
    background: conic-gradient(
      red 0deg 90deg,
      blue 90deg 180deg,
      green 180deg 270deg,
      yellow 270deg 360deg
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle-white{
    width: 80px;
    height:80px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }